*{
    margin: 0;
     box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* font-family: 'Pacifico', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;900&display=swap');
/* font-family: 'Roboto Slab', serif; */

 body{
    font-family: 'Roboto Slab', serif;
     color: rgb(60, 135, 255);

 }
 .wrapper{
    background: #ED4264;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FFEDBC, #ED4264);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FFEDBC, #ED4264); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
     
     width: 1200px;
     height: 600px;
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 0 auto;
     
 }
 .restart{
     width: 150px;
     height: 40px;
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 40px;
     color: white;
     border: 3px solid rgb(60, 135, 255);
     cursor: pointer;
     transition: all 0.7s ease;
     font-weight: bold;
     margin: 10px;
     margin-left: 20px;

 }
 h1{
     font-size: 40px;
     font-weight: bold;
     margin-left: 20px;
 }
 .restart:hover{
   background-color:rgb(60, 135, 255);
   color:white;
 }

 .game{
    display: flex;
    flex-direction: column;
     height: 500px;
     width: 500px;
 }
.header{
color: rgb(60 ,135 ,255);
display: flex;
font-size: 50px;

}
.header .player-x {
    flex: 1;
    border-bottom: 5px solid rgb(60 ,135 ,255);
    padding-bottom: 8px;
    
}
.header .player-O {
    flex: 1;
    border-bottom: 5px solid rgb(60 ,135 ,255);
    padding-bottom: 8px;
}




/* showa which player turn  */

.player-x.active{
    color:  rgb(60 ,135 ,255);
    border-color: rgb(255, 255, 255) ;
}
.player-O.active{
   color:  rgb(60 ,135 ,255);
   border-color: rgb(255, 255, 255);
}



.board{
    background-color:rgb(193 ,192 ,240);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr  ;
    grid-template-columns: 1fr 1fr 1fr  ;
    grid-gap: 0px;
    padding: 10px;
    flex-grow: 1;
    margin-left: 10px;

}
.board-tile{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}
.board-tile:not(:nth-child(3n))
{ 
border-right: 3px solid rgb(252, 252, 252);
}

.board-tile:not(:nth-last-child(-n+3))
{
border-bottom: 3px solid rgb(252, 252, 252);
}

.board-tile:hover{
background-color: rgb(245, 235, 235);
}


#loader{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #515781 url('https://cdn.dribbble.com/users/1098565/screenshots/2942125/media/751144bd2f30e36338446643f2dea5f1.gif') no-repeat center;
	z-index: 100;
    
}

 /* song stufff  */
.song-stuff{
    /* border: 2px solid black; */
    margin-left: 20px;
    margin-right: 50px;
     
} 
 .song-stuff p {
     color: rgb(255, 255, 255);
     font-family:' Roboto Slab', serif;
     font-size: 30px;
     font-weight: bold;
 }
 .song-stuff #icon
 {
width: 80px;
cursor: pointer;
display: block;
margin-left: auto;
margin-right: auto;
padding-bottom: 20px;

 }
 


.right{
    margin-right: 50px;
}

.title-x{
    color: rgb(60 ,135 ,255);
}
.title-o{
    color: rgb(255, 255, 255);
}









